@font-face {
    font-family: COMIC;
    src: url(assets/fonts/COMIC.TTF);
}
@font-face {
    font-family: GOTHIC;
    src: url(assets/fonts/HWYGEXPD.TTF);
}

* {
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    cursor: url('assets/graphics/mouse.png'), auto;
}

img {
    pointer-events: none;
}

h1, h2, h3 {
    color: white;
    font-weight: normal;
}

#GameWindow {
    width: 820px;
    height: 820px;
    background-color: #84AED9;
}
#GameWindow * {
    position: absolute;
}

#CatGolf {
    left: 35px;
    top: 35px;
    position: relative;
}
#UncannyCats {
    top: 0;
}
#UncannyCats div {
    left: 755px;
    top: 28px;
    position: relative;
}
#CatGolf, #CatGolf img, #UncannyCats div, #UncannyCats div img {
    width: 54px;
    height: 54px;
}
#CatGolf.grow img {
    animation: grow 1s;
}

@keyframes grow {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

#ClickMark {
    visibility: hidden;
    z-index: 1;
}
#ClickMark img{
    left: -11px;
    top: -11px;
    width: 21px;
    height: 21px;
}

#PowerBar {
    left: 27px;
    top: 23px;
    height: 8px;
    background-color: darkred;
    transform-origin: left center;
}

#ThoughtBubble {
    background-image: url(assets/graphics/catthoughtidisplayer9000.png);
    background-size: cover;
    width: 310px;
    height: 310px;
    bottom: 0;
}

#Thoughts {
    width: 176.58px;
    aspect-ratio: 1.22/1;
    overflow: hidden;
    left: 66px;
    top: 36px;
}
#Thoughts img {
    scale: 1.62;
    transform-origin: left top;
}

#HUD {
    background-image: url(assets/graphics/hudbg.png);
    background-size: cover;
    height: 820px;
    width: 410px;
    z-index: 1;
    position: relative;
    flex-shrink: 0;
}
#HUD * {
    position: absolute;
}
#HUD #GameTitle {
    width: 398px;
    height: 220px;
}

#Thinker {
    width: 140px;
    bottom: 12px;
    right: 12px;
}

#ScoreLabel {
    bottom: 310px;
    left: 15px;
}

#TimeLabel {
    bottom: 380px;
    left: 200px;
    color: yellow;
}

#ResetLabel {
    bottom: 345px;
    left: 300px;
    color: red;
}

#SkipsLabel {
    bottom: 310px;
    left: 300px;
    color: turquoise;
}

#GolfHitLabel {
    bottom: 440px;
    left: 15px;
}

#LevelTimeLabel {
    bottom: 370px;
    left: 15px;
}

#StageNameLabelParent {
    top: 220px;
    left: 25px;
    width: 1205px;
    height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#StageNameLabel {
    margin: 0;
    width: 350px;
    text-align: center;
    font-family: COMIC;
    text-shadow: -2px -1px 0 black,
            2px -1px 0 black,
            -2px 1px 0 black,
            2px 1px 0 black;
}

@keyframes stagelabel {
    0% {
        left: 1230px;
    }
    26.6% {
        left: 698px;
    }
    73.3% {
        left: 746px;
    }
    100% {
        left: 25px;
    }
}

.stageLabel {
    animation: stagelabel 1.5s;
}

#LevelLabels {
    position: static;
    visibility: hidden;
}

#GoalHole {
    top: 600px;
    left: 520px;
    position: relative;
}

#FlagHolder {
    overflow: hidden;
    left: 5px;
    height: 200px;
    width: 150px;
}
#FlagHolder img {
    height: 200px;
    width: 600px;
}

#Hole {
    top: 149px;
    width: 54px;
    height: 54px;
}

#Manager {
    display: flex;
}

#Menus > div{
    position: absolute;
    z-index: 2;
    width: 820px;
    height: 820px;
}
#Menus *:not(h2, .Button) {
    position: absolute;
}
#Menus h2 {
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

#MainMenu {
    background-image: url(assets/graphics/canny.png);
    background-size: 205px;
    animation: scrolling 10s linear infinite;
    background-color: rgba(71, 157, 255, 0.959);
    background-blend-mode: multiply;
}
#MainMenu #GameTitle {
    width: 580px;
    left: 120px;
    top: 120px;
}
#MainMenu #Cats {
    width: 820px;
}
#MainMenu #Cats img {
    width: 120px;
    top: 200px;
}
#MainMenu #Cats #Cat1 {
    left: 15px;
}
#MainMenu #Cats #Cat2 {
    right: 15px;
}
#MainMenu .ButtonHolder {
    top: 480px;
    left: 120px;
    width: 580px;
}
#MainMenu #SplashLabel {
    top: 400px;
}

.centerdText {
    position: absolute;
    text-align: center;
    width: 100%;
}

@keyframes down {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

.getDownHere {
    animation: down 1.5s;
}

#StageResults, #UncannyDeath, #LevelSelect, #OntoWorlds, #Ending {
    visibility: hidden;
}
#StageResults, #UncannyDeath, #LevelSelect, #OntoWorlds div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#UncannyDeath {
    background-image: url(assets/graphics/uncanny.png);
}
#StageResults {
    background-image: url(assets/graphics/resultsclipboard.png);
}
#StageResults #StageClear {
    width: 500px;
    top: 130px;
    left: 160px;
}
#StageResults h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 60px;
    font-size: 25px;
    visibility: hidden;
}
#GolfHitR {
    top: 238px;
}
#TimeTakenR {
    top: 288px;
}
#CollectibleScoreR {
    top: 338px;
}
#FinalScoreR {
    top: 438px;
    color: yellow;
}
#RankTextR {
    width: 300px;
    left: 440px;
    top: 230px;
    visibility: hidden;
}

.ButtonHolder {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.Button  {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 6px;
}
.Button:hover {
    background-color: rgba(43, 43, 43, 0.45);
}
.Button:active {
    outline: solid 4px lightgrey;
}
.Button h2 {
    text-align: center;
    width: 100%;
    margin: 12px 0 12px 0;
}

#LevelBackground {
    height: 820px;
    width: 820px;
    overflow: hidden;
}
#LevelBackground img {
    height: 820px;
}

#LevelSelect {
    background-image: url(assets/graphics/nicescenery.png);
}
#LevelSelect #LevelSelectText{
    width: 630px;
    top: 40px;
    left: 95px;
}
#LevelSelect #WorldLabel {
    top: 200px;
}
#LevelSelect #LevelLabel {
    top: 340px;
}
#LevelSelect .ButtonHolder {
    width: 820px;
    flex-direction: row;
}
#LevelSelect #WorldButtons {
    top: 260px;
    gap: 20px;
}
#LevelSelect #LevelButtons {
    top: 400px;
}
#LevelSelect #WorldButtons .Button {
    padding: 0 18px 0 18px;
}
#LevelSelect #LevelButtons .Button {
    padding: 0 7px 0 7px;
}
#LevelSelect #ChoiceDisplay {
    top: 480px;
    font-size: 60px;
}
#LevelSelect #Confirm {
    width: 200px;
    height: 100px;
    top: 655px;
    left: 310px;
    position: relative;
    display: flex;
    align-items: center;
}

#RankHolder {
    width: 448px;
    height: 352px;
    overflow: hidden;
    visibility: hidden;
    left: 390px;
    top: 365px;
    scale: 0.8;
}

#Tiles g {
    visibility: hidden;
}

#OntoWorlds {
    overflow: hidden;
    visibility: hidden;
}
#OntoWorlds div {
    background-image: url(assets/graphics/ontotexture.png);
    width: 820px;
    height: 1640px;
    top: 0;
}
#OntoWorlds .scroll {
    top: -820px;
    transition: all 0.4s ease-out;
}

#OntoWorlds > div * {
    width: 580px;
    left: 120px;
    text-align: center;
}
#OntoWorlds #worldcompleted {
    top: 30px;
}
#OntoWorlds #completed {
    top: 100px;
}
#OntoWorlds #completed2 {
    background-image: url(assets/graphics/completedpicture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    top: 350px;
}
#OntoWorlds #congratulations {
    top: 650px;
}

#OntoWorlds #sign, #OntoWorlds #gradient {
    top: 820px;
    width: 820px;
    left: 0;
}
#nextexit, #worldname, #worlddescription, #clickcontinue {
    font-family: GOTHIC !important;
    position: absolute;
}
#nextexit {
    font-size: xx-large;
}
#worldname {
    font-size: 40px;
}
#OntoWorlds #nextexit {
    top: 1050px
}
#OntoWorlds #worldname {
    top: 1095px
}
#OntoWorlds #worlddescription {
    top: 1160px
}
#OntoWorlds #clickcontinue {
    top: 1215px
}

#OntoWorld2 {
    background-color: #ff87ff;
    background-blend-mode: multiply;
}
/*i dont know how to color the sign*/
#OntoWorld2 #nextexit, 
#OntoWorld2 #worldname, 
#OntoWorld2 #worlddescription, 
#OntoWorld2 #clickcontinue {
    color: #ffbeff;
}

#OntoWorld3 {
    background-color: #00ffff;
    background-blend-mode: multiply;
}
/*i still dont know how to color the sign*/
#OntoWorld3 #nextexit, 
#OntoWorld3 #worldname, 
#OntoWorld3 #worlddescription, 
#OntoWorld3 #clickcontinue {
    color: #ffff79;
}

#OntoWorld4 {
    background-color: #808cff;
    background-blend-mode: multiply;
}
/*i still still dont know how to color the sign*/
#OntoWorld4 #nextexit, 
#OntoWorld4 #worldname, 
#OntoWorld4 #worlddescription, 
#OntoWorld4 #clickcontinue {
    color: #b3b0ff;
}

#Ending {
    overflow: hidden;
    background-color: black;
}
#Ending #Endingbg {
    bottom: 0;
    width: 820px;
}
.credits {
    transform: translateY(100%);
    transition: transform 125s linear 7.38s;
}
#GameOver {
    font-family: COMIC;
    white-space: pre-line;
    left: 90px;
    top: 90px;
}